@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-pink-dark: #f3c4d9;
  --color-pink-light: #ffddf2;
  --color-green-dark: #d9f3c4;
  --color-green-light: #f2ffdd;
  --color-blue: #cee3fd;
  --color-black: #000000;
  --color-white: #ffffff;
}
html,
body {
  width: auto;
  height: auto;
}
