@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-pink-dark: #f3c4d9;
  --color-pink-light: #ffddf2;
  --color-green-dark: #d9f3c4;
  --color-green-light: #f2ffdd;
  --color-blue: #cee3fd;
  --color-black: #000000;
  --color-white: #ffffff;
}
html,
body {
  width: auto;
  height: auto;
}
.carousel .thumbs-wrapper {
  display: none;
}

.divHome,
.divAccesories,
.divAmigurumis,
.divClothes,
.divDreamCatcher {
  background-color: var(--color-white);
  text-align: center;
}
.divHome h1, 
.divAccesories h1,
.divAmigurumis h1,
.divClothes h1,
.divDreamCatcher h1 {
  font-family: "Euphoria Script", cursive;
  font-style: normal;
  color: var(--color-black);
  font-size: 2rem;
  text-shadow: -1px -1px 0 var(--color-white), 0 -1px 0 var(--color-white),
    1px -1px 0 var(--color-white), 1px 0 0 var(--color-white),
    1px 1px 0 var(--color-white), 0 1px 0 var(--color-white),
    -1px 1px 0 var(--color-white), -1px 0 0 var(--color-white);
  /* padding: 0.5rem; */
  margin-bottom: 1rem;
} 
.secHome :nth-child(2) {
  font-size: 1rem;
  font-family: "Indie Flower", cursive;
  font-style: normal;
  padding: 1rem 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
}
.divTitleCategory{
  margin-top: 1rem;
}

.secSocialMedia {
  padding: 10px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divContainerSC {
  background-color: white;
  min-height: calc(100vh - 200px);
}
@media screen and (min-width:1440px) {
.divHome h1, 
.divAccesories h1,
.divAmigurumis h1,
.divClothes h1,
.divDreamCatcher h1 {
  font-size: 3rem;}

  .secHome :nth-child(2) {
    font-size: 2rem;
  }
  
}