.photo {
    width: 100%;
    height: 198px;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .photo:-ms-thumb {
    display: none;
  }
  .photo>p:hover {
    background: rgba(232, 232, 232, 0.782);
    opacity: 1;
  }


  @media screen and (min-width:744px) and (max-width:1439px) {
    .photo {
      width: 100%;
      height: 236px;
    }
  }
  
  @media screen and (min-width:1440px) {
    .photo {
      width: 100%;
      height: 470px;
    }
  }
  